<%- include('partials/start') %>
<%- include('partials/header') %>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".strawberry">Strawberry</li>
                        <li data-filter=".berry">Berry</li>
                        <li data-filter=".lemon">Lemon</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Loop through the product array -->
        <div class="row product-lists">
            <% product.forEach(prn => { %>
                <div class="col-lg-4 col-md-6 text-center <%= prn.category %>">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="single-product.html"><img src="img/products/product-img-2.jpg" alt=""></a>
                        </div>
                        <h3><%= prn.name %></h3>
                        <p class="product-price"><span>Per Kg</span> ₱<%= prn.price %> </p>
                        <div class="single-product-form">
                            <form action="/cart" method="POST"> 
                                <input type="hidden" name="productId" value="<%= prn.id %>"> <!-- Ensure this is the correct ID -->
                                <input type="number" name="quantity" placeholder="0" min="1"> 
                                <button type="submit" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                            </form>
                            <p><strong>Categories: </strong>Fruits, Organic</p>
                        </div>
                        
                        
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<!-- end products -->

<%- include('partials/footer') %>
